
        body{padding:0; margin:0;}
        body {font-size:110%;}
        header {width:100%;}

        nav {position:fixed;
            top:4rem;
            background-color: white;
            margin-left:-14rem;
            border:0;
            opacity:0.5;
            }
        nav:hover {margin-left:0;background-color:aliceblue;opacity:1;}
        nav ul {padding:25px;}

          img {border:7px solid black;padding:5px;
            width: 300px;
          }

          article {
              width:20rem;
              margin:auto;
              margin-top: 8rem;
              min-width: 15rem;
              max-width:50rem;
                }
          h1 {margin-top:0;
              margin-left:0;
              position:fixed;
              top:0;
              width:100%;
            text-align: center;
            background: blue;
            color: white;
          }
        footer{width:100%;
               background-color: aliceblue;
                text-align: center;
                border-top:0.1rem solid black;}
table {margin-top: 2rem;}
table caption {margin:0.5rem 0; font-weight:bold;}
table,tr,th,td{border:1px solid black;border-collapse:collapse;}
.ingreds {text-align: left;padding-right:2rem; padding-left:1em;  }
.amount  {text-align: center;   }
